<h1 class="text-light"><i class="fa fa-film" aria-hidden="true"></i> Mis Peliculas</h1>
<br>
<!-- ------------------------------------------------------------------------- -->
<div class="album py-5 bgcolor">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let p of postsUser | async">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" data-src="{{p.image}}" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20226%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16780a71b0e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16780a71b0e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22226%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.678125%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text font-weight-bold text-center">{{p.titulo}}</p>

            <div class="justify-content-center">
              <button matTooltip="Editar Publicación" class="btn btn-primary btn-lg btn-block btn btn-outline-dark"
                mat-raised-button (click)="viewFormUpdatePost(p.id)">
                <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
              </button>
              &nbsp;&nbsp;
              <button matTooltip="Eliminar publicación" class="btn btn-primary btn-lg btn-block btn btn-outline-dark"
                mat-raised-button (click)="deleteImage(p.id)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
              &nbsp;&nbsp;
              <button matTooltip="Ver Información" class="btn btn-primary btn-lg btn-block btn btn-outline-dark"
                mat-raised-button (click)="viewDetailPost(p.id)">
                <i class="fa fa-info" aria-hidden="true"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>