<mat-tab-group>
  
  <mat-tab label="Iniciar sesión">

    <div class="container-form-authentication ">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          </div>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Correo electronico"
            [(ngModel)]="login.email">
        </div>
        <small class="form-text text-muted">Este campo es obligatorio.</small>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
          </div>
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="login.password">
        </div>
        <small class="form-text text-muted">Este campo es obligatorio.</small>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn btn-secondary" (click)="signIn()">Iniciar Sesión</button>
    </div>

  </mat-tab>

  <mat-tab label="Regístrate">
    <div class="container-form-authentication">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>
          </div>
          <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="register.nombre">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>
          </div>
          <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="register.apellido">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          </div>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Correo electronico"
            [(ngModel)]="register.email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
          </div>
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="register.password">
        </div>
        <small class="form-text text-muted">La contraseña debe tener 6 o mas caracteres.</small>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn btn-secondary" (click)="registerUser()">Registrarse</button>
    </div>

  </mat-tab>
</mat-tab-group>