<br>
<div class="container">
  <h1 class="text-light"><i class="fa fa-file-video-o" aria-hidden="true"></i> Crear Pelicula</h1>
  <hr>
  <br>

  <div>
    <div class="form-group">
      <label class="text-light">Titulo</label>
      <input type="text" class="form-control" placeholder="Ingresar titulo" [(ngModel)]="dataForm.titulo">
    </div>
    <div class="form-group">
      <label class="text-light">Descripción</label>
      <textarea class="form-control" rows="5" placeholder="Ingresar descripción" [(ngModel)]="dataForm.descripcion"></textarea>
    </div>

    <div class="col-md-2">
      <label class="text-light">Seleccionar imagen</label>
      <input class=" text-light bgcolor" type="file" (change)="selectImage($event)" accept="image/*">
    </div>

    <hr>
    <button *ngIf="idPost == 0" type="button" class="btn btn-primary btn btn-outline-light" (click)="createPost()"><i class="fa fa-floppy-o"
        aria-hidden="true"></i> Crear Pelicula </button>
    <button *ngIf="idPost != 0" type="button" class="btn btn-info btn btn-outline-light" (click)="updatePost()"><i class="fa fa-pencil-square-o"
        aria-hidden="true"></i> Actualizar Pelicula </button>
  </div>
</div>