.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
}

.sidenav-content{
    padding: 50px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.email-user{
    color: aqua;
    font-size: smaller;
    margin-right: 12px;
    margin-left: 12px;
}

.bgcolor{
    background-color: transparent;
}

.btnc{
    margin-left: 10px;
}

.btnc2{
    margin-right: 15px;
}

.body{
    background-image: url('https://images4.alphacoders.com/786/thumb-1920-78678.jpg');
    min-width: 100vh;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}