<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar bgcolor">

    <mat-toolbar-row>
      <h1 class="example-app-name ">MIS PELICULAS</h1>

      <button class="btn btn-outline-light btnc" mat-button (click)="manageRoutes(1)" *ngIf="isAuthenticated">Inicio</button>
      <span class="example-spacer"></span>
      <ng-container *ngIf="isAuthenticated">
        <button class="btn btn-outline-light btnc2" mat-button (click)="manageRoutes(3)">Mis peliculas</button>
        <button class="btn btn-outline-light btnc2" mat-button (click)="manageRoutes(2)">Subir peliculas</button>
        <span>|</span>
        <span class="email-user">{{dataUser.nombre}} - {{dataUser.apellido}}</span>
        <span>|</span>
        <button mat-icon-button matTooltip="Cerrar sesión" (click)="signOut()">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container body" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of data">{{nav.titulo}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>