body{
    background-image: url('https://images4.alphacoders.com/786/thumb-1920-78678.jpg');
    min-width: 100vh;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}